# Ignore everything by default
*

# Allow repo meta files
!.gitignore
!README.md

# Allow directories leading to TS sources
!client/
!client/src/
!client/src/ts/

# Allow TS sources + tsconfig
!client/src/ts/**
!client/src/ts/tsconfig.json

# Allow Linker (explicit tooling exception)
!server/
!server/src/
!server/src/php/
!server/src/php/tools/
!server/src/php/tools/generate_linker.php
